@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right,#FFE5BE, #E0BB82);
}
main {
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #B68B4B;
    padding: 10px;
    width: 600px;
    margin: auto;
}
h1 {
    color: #E0BB82;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(161, 134, 94, 0.612);
}
h2 {
    color: #E0BB82;
}
p {
    text-align: justify;
}